button {
	padding: 0;
	margin: 0;
	border-style: none;
	touch-action: manipulation;
	display: inline-block;
	border: none;
	background: none;
	cursor: pointer;
}
/* End Reset for the demo */

.qty {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
	.qtn-number {
        width: 3rem;
        font-size: 16px;
        text-align: center;
        border: 1px solid #EAEAEA;
        border-radius: 3px;
    }
	 .qtyminus, .qtyplus {
		width: 2rem;
         height: 2rem;
		color: #777777;
		font-size: 16px;
		background: #EAEAEA;
        border-radius: 3px;
	}